*{font-family:helvetica;}

.center{text-align:center;}

.header{font-size: 70px;}
.medium{font-size:18px;}

.bold{font-weight: bold;}
.normal{font-weight:normal;}

.white{color: white;}

.background-image{background-image: url("file:///E:/9Projects/broadway-design/resources/content/the-flatiron-building.png");}
